<div style="text-align: start">

  <button lctTooltip
          tooltipText="Tooltip desde boton2"
          color="secondary"
          position="right"
          secondaryMessage="mensaje secundario fas fdsafsadfasd fs"
  >link tooltip</button>

</div>
<div style="text-align: center">

  <button
    style="height: 50px"
    lctTooltip
    tooltipText="Tooltip desde boton2"
    position="right"
    color="tertiary"
    secondaryMessage="mensaje secundario fas fdsafsadfasd fs"
  >link tooltip</button>

</div>
<div style="text-align: end">

  <button lctTooltip tooltipText="Tooltip desde boton3">link tooltip</button>

</div>
