
<lct-select title="Operadores asdasd" (value)="changeSelect($event)" [options]="valuesSelect2"></lct-select>
<lct-select title="Operadores log" (value)="changeSelect($event)" [options]="valuesSelect"></lct-select>
<br>
<app-input-text2
  icon="assets/img/keyboard.svg"
  [showIcon]="true"
  (iconClick)="clickEnIcon()"
  placeHolder="Buscar por Nº de la etiqueta"
  (enterEmitted)="enter($event)"
></app-input-text2>
<br>
<lct-input-text icon="assets/img/keyboard.svg" placeHolder="Buscar algo 2"></lct-input-text>
<br>
<app-button-lct buttonType="primary" [title]="'Primary'" (click)="clickButton()"></app-button-lct>
<br>
<br>
<app-button-lct buttonType="secondary" [title]="'Secondary'" (click)="clickButton()"></app-button-lct>
<br><br>
<app-button-lct buttonType="error" [title]="'Error'" (click)="clickButton()"></app-button-lct>
<br><br>
<app-button-lct buttonType="success" [title]="'Success'" (click)="clickButton()"></app-button-lct>
<br>
<app-select title="asdasd" [options]="valuesSelect2" (value)="changeSelect($event)"></app-select>
<br>
