
<div class="container">
  <h1>Input</h1>
  <p>Input simple with lct design</p>

  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-input-text placeholder="Find by LPN" ></lct-input-text>
    </div>
    <div class="col-xs-12 col-md-1" ><span lctClipboard textCopy="PROBANDO HOLA"></span></div>

    <div class="col-xs-12 col-md-7" >
        <pre><code class="language-html">
  &lt;lct-input-text placeholder="Find by LPN"&gt;&lt;/lct-input-text&gt;
        </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-input-text placeholder="Input without title" title=""></lct-input-text>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
  &lt;lct-input-text placeholder="Input without title" title=""&gt;&lt;/lct-input-text&gt;
        </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-input-text title="Example Email" type="email" placeholder="Enter Email"></lct-input-text>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
  &lt;lct-input-text
      title="Example Email"
      type="email"
      placeholder="Enter Email"
  &gt;&lt;/lct-input-text&gt;
        </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-input-text title="Example Number" type="number" placeholder="Enter Number"></lct-input-text>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
  &lt;lct-input-text
      title="Example Number"
      type="number"
      placeholder="Enter Number"
  &gt;&lt;/lct-input-text&gt;
        </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-input-text title="Title set by attribute" placeholder="Find by LPN" [error]="true" ngModel="input error value"></lct-input-text>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
  &lt;lct-input-text
      title="Title set by attribute"
      placeholder="Find by LPN"
      [error]="true"
      ngModel="input error value"
  &gt;&lt;/lct-input-text&gt;
  </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-input-text title="Title set by attribute" placeholder="Find by LPN" [disabled]="true"></lct-input-text>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
  &lt;lct-input-text
      title="Title set by attribute"
      placeholder="Find by LPN"
      [disabled]="true"
  &gt;&lt;/lct-input-text&gt;
  </code></pre>
    </div>
  </div>



  <div class="row justify-content-center">
    <div class="col-7">
      <div class="row">
        <div class="col">
          <h2>title</h2>
          <p>title is up to input</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Detail</th>
              <th scope="col">Example</th>
              <th scope="col">Example without title</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>string</td>
              <td>text value for title</td>
              <td><code>title="this is the title"</code></td>
              <td><code>title=""</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-7">
      <div class="row">
        <div class="col">
          <h2>placeholder</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Detail</th>
              <th scope="col">Example</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>string</td>
              <td>text value for placeholder</td>
              <td><code>placeholder="this is the placeholder"</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-7">
      <div class="row">
        <div class="col">
          <h2>type</h2>
          <p>type is defined to input type, default value <code>text</code></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Value</th>
              <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>text</td>
              <td>set type to text, keyboard in mobile device is defined for each type configuration</td>
            </tr>
            <tr>
              <td>email</td>
              <td>set type to email, keyboard in mobile device is defined for each type configuration</td>
            </tr>
            <tr>
              <td>number</td>
              <td>set type to number, keyboard in mobile device is defined for each type configuration</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-7">
      <div class="row">
        <div class="col">
          <h2>disabled</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>'true' | 'false' | 'disabled' | boolean | ""</td>
              <td>default value <code>false</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-7">
      <div class="row">
        <div class="col">
          <h2>pdaAutoEnter</h2>
          <p>If the value is <code>true</code>, when detect a key press, it emit enter after 200ms</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>boolean</td>
              <td>default value <code>false</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="row">
        <div class="col">
          <h2>Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>(enterEmitted)</td>
              <td>Emitted when press enter or tab key, return input value</td>
            </tr>
            <tr>
              <td>(iconClick)</td>
              <td>Emitted when press the icon if exists</td>
            </tr>
            <tr>
              <td>(inputClick)</td>
              <td>Emitted when press the input</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
