
<div class="container">
  <h1>Input</h1>
  <p>Input simple with lct design</p>

  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-input-text placeholder="Find by LPN"></lct-input-text>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
  &lt;lct-input-text placeholder="Find by LPN"&gt;&lt;/lct-input-text&gt;
        </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-input-text title="Title set by attribute" placeholder="Find by LPN" [error]="true" ngModel="input error value"></lct-input-text>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
  &lt;lct-input-text
      title="Title set by attribute"
      placeholder="Find by LPN"
      [error]="true"
      ngModel="input error value"
  &gt;&lt;/lct-input-text&gt;
  </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-input-text title="Title set by attribute" placeholder="Find by LPN" [disabled]="true"></lct-input-text>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
  &lt;lct-input-text
      title="Title set by attribute"
      placeholder="Buscar por Nº de la etiqueta"
      [disabled]="true"
  &gt;&lt;/lct-input-text&gt;
  </code></pre>
    </div>
  </div>



  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h2>title</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>string</td>
              <td>text value to button</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h2>buttonType</h2>
          <p>Button type is defined to background color of the button, default value <code>primary</code></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Value</th>
              <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>primary</td>
              <td>Background color <input type="color" value="#2A5AED" style="height: 18px; width: 18px" readonly> and text color <input type="color" value="#FFFFFF" style="height: 18px; width: 18px" readonly></td>
            </tr>
            <tr>
              <td>secondary</td>
              <td>Background color <input type="color" value="#FFFFFF" style="height: 18px; width: 18px" readonly> and text color <input type="color" value="#2649B6" style="height: 18px; width: 18px" readonly></td>
            </tr>
            <tr>
              <td>tertiary</td>
              <td>Background color <input type="color" value="#6A80B1" style="height: 18px; width: 18px" readonly> and text color <input type="color" value="#FFFFFF" style="height: 18px; width: 18px" readonly></td>
            </tr>
            <tr>
              <td>quaternary</td>
              <td>Background color <input type="color" value="#223359" style="height: 18px; width: 18px" readonly> and text color <input type="color" value="#FFFFFF" style="height: 18px; width: 18px" readonly></td>
            </tr>
            <tr>
              <td>error</td>
              <td>Background color <input type="color" value="#C60E4C" style="height: 18px; width: 18px" readonly> and text color <input type="color" value="#FFFFFF" style="height: 18px; width: 18px" readonly></td>
            </tr>
            <tr>
              <td>success</td>
              <td>Background color <input type="color" value="#8CBA37" style="height: 18px; width: 18px" readonly> and text color <input type="color" value="#FFFFFF" style="height: 18px; width: 18px" readonly></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h2>disabled</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>'true' | 'false' | 'disabled' | boolean | ""</td>
              <td>default value <code>false</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h2>height and width</h2>
          <p>Height and width is used to set static values, by default set width 100% and height 40px</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">value</th>
              <th scope="col">Type</th>
              <th scope="col">Detail</th>
              <th scope="col">Example</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>height</td>
              <td>string</td>
              <td>set style height, can be set px, %, em, etc</td>
              <td><code>height="40px"</code></td>
            </tr>
            <tr>
              <td>width</td>
              <td>string</td>
              <td>set style width, can be set px, %, em, etc</td>
              <td><code>width="200px"</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
