<!--
<div style="width:100px; margin-top: 100px; margin-left: 600px;">
  <lct-button buttonType="secondary" title="Tienda" tooltipText="FALABELLA LYON " version="3.4.5" dateVersion="10/08/2022" icon="./assets/img/Tienda.svg" lctModalTooltip></lct-button>
</div> -->

<div class="container">
  <h1>Button Round</h1>
  <p>Buttons round, with lct design</p>


  <!--  <pre><code class="language-javascript"><lct-button   [counter]="30" [title]="'Primary'" ></lct-button></code></pre>-->
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-button [id]="'round'" buttonType="primary" shape="round" title="Primary" icon="./assets/img/keyboard.svg"></lct-button>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
    &lt;lct-button
          title="Primary"
          shape="round"
          icon="./assets/img/keyboard.svg"
    &gt;&lt;/lct-button&gt;
  </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-button buttonType="secondary" shape="round" title="Secondary" icon="./assets/img/icon-check.svg"></lct-button>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
    &lt;lct-button
          buttonType="secondary"
          title="Secondary"
          shape="round"
          icon="./assets/img/icon-check.svg"
    &gt;&lt;/lct-button&gt;
  </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-button buttonType="tertiary" shape="round" title="Tertiary" icon="./assets/img/icon-check.svg"></lct-button>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
    &lt;lct-button
          buttonType="tertiary"
          title="Tertiary"
          shape="round"
          icon="./assets/img/icon-check.svg"
    &gt;&lt;/lct-button&gt;
  </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-button buttonType="quaternary" shape="round" title="Quaternary" icon="./assets/img/icon-check.svg"></lct-button>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
    &lt;lct-button
          buttonType="quaternary"
          title="Quaternary"
          shape="round"
          icon="./assets/img/icon-check.svg"
    &gt;&lt;/lct-button&gt;
  </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-button buttonType="enabled" shape="round" title="Enabled" icon="./assets/img/icon-check.svg"></lct-button>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
    &lt;lct-button
          buttonType="enabled"
          title="Enabled"
          shape="round"
          icon="./assets/img/icon-check.svg"
    &gt;&lt;/lct-button&gt;
  </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-button buttonType="error" shape="round" title="Error" icon="./assets/img/icon-check.svg"></lct-button>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
    &lt;lct-button
          buttonType="error"
          title="Error"
          shape="round"
          icon="./assets/img/icon-check.svg"
    &gt;&lt;/lct-button&gt;
  </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-button buttonType="success" shape="round" title="Success" icon="./assets/img/icon-check.svg"></lct-button>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
    &lt;lct-button
          buttonType="success"
          title="Success"
          shape="round"
          icon="./assets/img/icon-check.svg"
    &gt;&lt;/lct-button&gt;
  </code></pre>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xs-12 col-md-4">
      <lct-button buttonType="secondary" shape="round" title="Secondary disabled" disabled icon="./assets/img/icon-check.svg"></lct-button>
    </div>
    <div class="col-xs-12 col-md-8">
        <pre><code class="language-html">
    &lt;lct-button
          buttonType="secondary"
          title="Secondary disabled"
          disabled
          shape="round"
          icon="./assets/img/icon-check.svg"
    &gt;&lt;/lct-button&gt;
  </code></pre>
    </div>
  </div>



  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h2>icon</h2>
          <p>icon to set before text </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Detail</th>
              <th scope="col">Example</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>string</td>
              <td>src to image file</td>
              <td><code>height="./assets/img/icon-check.svg"</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h2>shape</h2>
          <p>button with rounded shape or normal shape </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Detail</th>
              <th scope="col">Example</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>string</td>
              <td>shape normal o round</td>
              <td><code>shape='round'</code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
