<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Buttons
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="list-group list-group-flush">
          <a
            *ngFor="let item of menu[0].items"
            [routerLink]="item.key"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
          >{{item.title | titlecase}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Inputs
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="list-group list-group-flush">
          <a
            *ngFor="let item of menu[1].items"
            [routerLink]="item.key"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
          >{{item.title | titlecase}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Selects
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="list-group list-group-flush">
          <a
            *ngFor="let item of menu[2].items"
            [routerLink]="item.key"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
          >{{item.title | titlecase}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
        Switch
      </button>
    </h2>
    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="list-group list-group-flush">
          <a
            *ngFor="let item of menu[3].items"
            [routerLink]="item.key"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
          >{{item.title | titlecase}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading5">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
        Tooltip
      </button>
    </h2>
    <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="list-group list-group-flush">
          <a
            *ngFor="let item of menu[4].items"
            [routerLink]="item.key"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
          >{{item.title | titlecase}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading6">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse5">
        Rate Experience
      </button>
    </h2>
    <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="list-group list-group-flush">
          <a
            *ngFor="let item of menu[5].items"
            [routerLink]="item.key"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
          >{{item.title | titlecase}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading7">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7"
        aria-expanded="false" aria-controls="flush-collapse7">
        Toast
      </button>
    </h2>
    <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="list-group list-group-flush">
          <a *ngFor="let item of menu[6].items" [routerLink]="item.key" routerLinkActive="active"
            class="list-group-item list-group-item-action">{{item.title | titlecase}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
